#### 1-INSTALANDO PACOTES

In [1]:
# Instalando pacotes necessários
%pip install pandas numpy openpyxl nbformat ipykernel plotly


# Importando as bibliotecas
import os
import pandas as pd
import nbformat as nb
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
from google.cloud import storage

# Comando para ignorar avisos em geral
import warnings
warnings.filterwarnings('ignore')

# Configuração da quantidade de colunas que vão aparecer em uma dataframe
pd.set_option('display.max_columns',100)

Requirement already satisfied: pandas in c:\users\deivi\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy in c:\users\deivi\appdata\local\programs\python\python312\lib\site-packages (1.26.4)
Requirement already satisfied: openpyxl in c:\users\deivi\appdata\local\programs\python\python312\lib\site-packages (3.1.4)
Requirement already satisfied: nbformat in c:\users\deivi\appdata\local\programs\python\python312\lib\site-packages (5.10.4)
Requirement already satisfied: ipykernel in c:\users\deivi\appdata\roaming\python\python312\site-packages (6.29.4)
Requirement already satisfied: plotly in c:\users\deivi\appdata\local\programs\python\python312\lib\site-packages (5.22.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\deivi\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\deivi\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\deivi\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: et-xmlfile in c:\users\deivi\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: fastjsonschema>=2.15 in c:\users\deivi\appdata\local\programs\python\python312\lib\site-packages (from nbformat) (2.20.0)
Requirement already satisfied: jsonschema>=2.6 in c:\users\deivi\appdata\local\programs\python\python312\lib\site-packages (from nbformat) (4.22.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\deivi\appdata\roaming\python\python312\site-packages (from nbformat) (5.7.2)
Requirement already satisfied: traitlets>=5.1 in c:\users\deivi\appdata\roaming\python\python312\site-packages (from nbformat) (5.14.3)
Requirement already satisfied: comm>=0.1.1 in c:\users\deivi\appdata\roaming\python\python312\site-packages (from ipykernel) (0.2.2)
Requirement already satisfied: debugpy>=1.6.5 in c:\users\deivi\appdata\roaming\python\python312\site-packages (from ipykernel) (1.8.1)
Requirement already satisfied: ipython>=7.23.1 in c:\users\deivi\appdata\roaming\python\python312\site-packages (from ipykernel) (8.24.0)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\deivi\appdata\roaming\python\python312\site-packages (from ipykernel) (8.6.1)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\users\deivi\appdata\roaming\python\python312\site-packages (from ipykernel) (0.1.7)
Requirement already satisfied: nest-asyncio in c:\users\deivi\appdata\roaming\python\python312\site-packages (from ipykernel) (1.6.0)
Requirement already satisfied: packaging in c:\users\deivi\appdata\roaming\python\python312\site-packages (from ipykernel) (24.0)
Requirement already satisfied: psutil in c:\users\deivi\appdata\roaming\python\python312\site-packages (from ipykernel) (5.9.8)
Requirement already satisfied: pyzmq>=24 in c:\users\deivi\appdata\roaming\python\python312\site-packages (from ipykernel) (26.0.3)
Requirement already satisfied: tornado>=6.1 in c:\users\deivi\appdata\roaming\python\python312\site-packages (from ipykernel) (6.4)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\deivi\appdata\local\programs\python\python312\lib\site-packages (from plotly) (8.3.0)
Requirement already satisfied: decorator in c:\users\deivi\appdata\roaming\python\python312\site-packages (from ipython>=7.23.1->ipykernel) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\deivi\appdata\roaming\python\python312\site-packages (from ipython>=7.23.1->ipykernel) (0.19.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\deivi\appdata\roaming\python\python312\site-packages (from ipython>=7.23.1->ipykernel) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\deivi\appdata\roaming\python\python312\site-packages (from ipython>=7.23.1->ipykernel) (2.18.0)
Requirement already satisfied: stack-data in c:\users\deivi\appdata\roaming\python\python312\site-packages (from ipython>=7.23.1->ipykernel) (0.6.3)
Requirement already satisfied: colorama in c:\users\deivi\appdata\roaming\python\python312\site-packages (from ipython>=7.23.1->ipykernel) (0.4.6)
Requirement already satisfied: attrs>=22.2.0 in c:\users\deivi\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\deivi\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\deivi\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\deivi\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat) (0.18.1)
Requirement already satisfied: platformdirs>=2.5 in c:\users\deivi\appdata\roaming\python\python312\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (4.2.2)
Requirement already satisfied: pywin32>=300 in c:\users\deivi\appdata\roaming\python\python312\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (306)
Requirement already satisfied: six>=1.5 in c:\users\deivi\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\deivi\appdata\roaming\python\python312\site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel) (0.8.4)
Requirement already satisfied: wcwidth in c:\users\deivi\appdata\roaming\python\python312\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=7.23.1->ipykernel) (0.2.13)
Requirement already satisfied: executing>=1.2.0 in c:\users\deivi\appdata\roaming\python\python312\site-packages (from stack-data->ipython>=7.23.1->ipykernel) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\deivi\appdata\roaming\python\python312\site-packages (from stack-data->ipython>=7.23.1->ipykernel) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\deivi\appdata\roaming\python\python312\site-packages (from stack-data->ipython>=7.23.1->ipykernel) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

ETL - (Extração) - Dados Brutos

In [2]:
# df = dataframe ou tabela
arquivo = (r"C:\Cursos e documentos\Bootcamp\Projeto - 01\data\raw\airbnbbruto.csv").replace('\\', '/' )
df = pd.read_csv(arquivo)

# visuaizando oo dataframe
display(df)

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
0,0,194.033698,Private room,False,True,2.0,False,1,0,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772
1,1,344.245776,Private room,False,True,4.0,False,0,0,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432
2,2,264.101422,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103
3,3,433.529398,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663
4,4,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1098,1098,2486.115342,Entire home/apt,False,False,2.0,False,0,0,10.0,100.0,1,2.375833,1.436054,181.198355,9.594573,225.304203,15.699521,4.85869,52.37677
1099,1099,233.637194,Private room,False,True,2.0,False,1,0,10.0,90.0,1,4.719736,0.322263,108.024880,5.719989,134.775277,9.391335,4.83611,52.34910
1100,1100,317.062311,Private room,False,True,2.0,False,1,0,10.0,92.0,1,0.598355,0.751993,440.476515,23.323524,625.947562,43.616927,4.88897,52.37798
1101,1101,1812.855904,Entire home/apt,False,False,4.0,False,0,0,8.0,84.0,5,1.943020,0.388532,257.948105,13.658524,336.589237,23.454022,4.90688,52.35794
1102,1102,258.008577,Shared room,True,False,2.0,False,0,0,8.0,90.0,1,0.280204,0.516217,533.962653,28.273677,807.492307,56.267226,4.89295,52.37575

### 2 - Transformação

#### Backup - 01

In [3]:
# Cópia de segurança caso ocorra algum erro
df_backup01 = df.copy()

* TRADUÇÃO-(RENOMENANDO ATRIBUTOS)

In [4]:
# Traduzindo os atributos para um melhor entendimento dos dados 
df.rename(columns={'realSum':'preço_total', 'room_type':'tipo_quarto', 'room_shared':'quarto_compartilhado', 'room_private':'quarto_privado', 
    'person_capacity':'capacidade', 'host_is_superhost':'superhost', 'cleanliness_rating':'nota_limpeza', 'guest_satisfaction_overall':'satisfaçao', 
    'bedrooms':'n_quartos', 'dist':'distancia_centro', 'metro_dist':'distancia_metro', 'attr_index':'atraçao_local_anuncio','attr_index_norm':'atraçao',
    'rest_index':'restaurantes_localização', 'rest_index_norm':'atração_restaurantes', 'lng':'longitude', 'lat':'latitude'}, inplace = True)

# Exibindo o dataframe traduzido - comando head('argumento quantidade de registros')
df.head(10)

,Unnamed: 0,preço_total,tipo_quarto,quarto_compartilhado,quarto_privado,capacidade,superhost,multi,biz,nota_limpeza,satisfaçao,n_quartos,distancia_centro,distancia_metro,atraçao_local_anuncio,atraçao,restaurantes_localização,atração_restaurantes,longitude,latitude
0,0,194.033698,Private room,False,True,2.0,False,1,0,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772
1,1,344.245776,Private room,False,True,4.0,False,0,0,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432
2,2,264.101422,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103
3,3,433.529398,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663
4,4,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508
5,5,552.808567,Private room,False,True,3.0,False,0,0,8.0,100.0,2,2.131420,1.904668,174.788957,9.255191,225.201662,15.692376,4.87699,52.38966
6,6,215.124317,Private room,False,True,2.0,False,0,0,10.0,94.0,1,1.881092,0.729747,200.167652,10.599010,242.765524,16.916251,4.91570,52.38296
7,7,2771.307384,Entire home/apt,False,False,4.0,True,0,0,10.0,100.0,3,1.686807,1.458404,208.808109,11.056528,272.313823,18.975219,4.88467,52.38749
8,8,1001.804420,Entire home/apt,False,False,4.0,False,0,0,9.0,96.0,2,3.719141,1.196112,106.226456,5.624761,133.876202,9.328686,4.86459,52.40175
9,9,276.521454,Private room,False,True,2.0,False,1,0,10.0,88.0,1,3.142361,0.924404,206.252862,10.921226,238.291258,16.604478,4.87600,52.34700

In [5]:
# Visualizando os unicos tipos de registros do atributo tipo_quarto
df['tipo_quarto'].unique()

array(['Private room', 'Entire home/apt', 'Shared room'], dtype=object)

In [6]:
# Criando um dicionário com a tradução dos tipos de quartos existentes dos registros do atributo tipo_quarto
tradução_tipo_quarto = {'Private room':'quarto privado', 'Entire home/apt':'Casa/apto inteiro','Shared room':'quarto compartilhado'} 

# Utilizando o dataframe(df) para localizar a coluna(atributo) tipo_quarto e fazendo a tradução utilizando o dicionário
df['tipo_quarto'].replace(tradução_tipo_quarto, inplace = True)

# Confirmando se está tudo certo utilizando a exibição
df['tipo_quarto'].unique()

array(['quarto privado', 'Casa/apto inteiro', 'quarto compartilhado'],
      dtype=object)

In [7]:
# visualizando as últimas linhas do df - dataframe
df.tail()

,Unnamed: 0,preço_total,tipo_quarto,quarto_compartilhado,quarto_privado,capacidade,superhost,multi,biz,nota_limpeza,satisfaçao,n_quartos,distancia_centro,distancia_metro,atraçao_local_anuncio,atraçao,restaurantes_localização,atração_restaurantes,longitude,latitude
1098,1098,2486.115342,Casa/apto inteiro,False,False,2.0,False,0,0,10.0,100.0,1,2.375833,1.436054,181.198355,9.594573,225.304203,15.699521,4.85869,52.37677
1099,1099,233.637194,quarto privado,False,True,2.0,False,1,0,10.0,90.0,1,4.719736,0.322263,108.024880,5.719989,134.775277,9.391335,4.83611,52.34910
1100,1100,317.062311,quarto privado,False,True,2.0,False,1,0,10.0,92.0,1,0.598355,0.751993,440.476515,23.323524,625.947562,43.616927,4.88897,52.37798
1101,1101,1812.855904,Casa/apto inteiro,False,False,4.0,False,0,0,8.0,84.0,5,1.943020,0.388532,257.948105,13.658524,336.589237,23.454022,4.90688,52.35794
1102,1102,258.008577,quarto compartilhado,True,False,2.0,False,0,0,8.0,90.0,1,0.280204,0.516217,533.962653,28.273677,807.492307,56.267226,4.89295,52.37575

In [8]:
# Visualizando o df de forma aleatória para achar possíveis inconsistências
# sample argumento número de registros que irão aparecer a executar aleatoriamente
df.sample(5)

,Unnamed: 0,preço_total,tipo_quarto,quarto_compartilhado,quarto_privado,capacidade,superhost,multi,biz,nota_limpeza,satisfaçao,n_quartos,distancia_centro,distancia_metro,atraçao_local_anuncio,atraçao,restaurantes_localização,atração_restaurantes,longitude,latitude
315,315,399.315727,Casa/apto inteiro,False,False,3.0,False,0,0,10.0,98.0,1,2.748406,1.653057,157.964090,8.364304,200.999182,14.005912,4.93125,52.36517
68,68,277.927495,quarto privado,False,True,2.0,True,0,0,10.0,97.0,1,3.832914,2.391801,114.086735,6.040968,144.912157,10.097688,4.94543,52.36055
110,110,467.040049,Casa/apto inteiro,False,False,2.0,False,0,0,10.0,97.0,1,1.407110,1.381408,310.107066,16.420375,409.415174,28.528638,4.87254,52.37197
400,400,491.645771,Casa/apto inteiro,False,False,2.0,False,1,0,9.0,92.0,2,0.742038,0.491293,501.161824,26.536852,845.194670,58.894381,4.89452,52.36662
468,468,331.825745,quarto privado,False,True,2.0,True,1,0,10.0,96.0,1,1.093584,0.613681,474.697806,25.135564,857.849163,59.776164,4.88485,52.36480

## Colunas que serão utilizadas na análise

* preço_total
* tipo_quarto
* capacidade
* superhost
* nota_limpeza
* satisfação
* n_quartos
* distancia_centro
* distancia_metro
* atraçao_local_anuncio
* atraçao
* restaurantes_localizaçao
* atraçao_restaurantes

In [9]:
# Verificando existência de dados nulos ou ausentes
df.isna().sum()

Unnamed: 0                  0
preço_total                 0
tipo_quarto                 0
quarto_compartilhado        0
quarto_privado              0
capacidade                  0
superhost                   0
multi                       0
biz                         0
nota_limpeza                0
satisfaçao                  0
n_quartos                   0
distancia_centro            0
distancia_metro             0
atraçao_local_anuncio       0
atraçao                     0
restaurantes_localização    0
atração_restaurantes        0
longitude                   0
latitude                    0
dtype: int64

In [10]:
df.head(2)

,Unnamed: 0,preço_total,tipo_quarto,quarto_compartilhado,quarto_privado,capacidade,superhost,multi,biz,nota_limpeza,satisfaçao,n_quartos,distancia_centro,distancia_metro,atraçao_local_anuncio,atraçao,restaurantes_localização,atração_restaurantes,longitude,latitude
0,0,194.033698,quarto privado,False,True,2.0,False,1,0,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772
1,1,344.245776,quarto privado,False,True,4.0,False,0,0,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432

In [11]:
# Traz a tipagem de cada atributo 
df.dtypes

Unnamed: 0                    int64
preço_total                 float64
tipo_quarto                  object
quarto_compartilhado           bool
quarto_privado                 bool
capacidade                  float64
superhost                      bool
multi                         int64
biz                           int64
nota_limpeza                float64
satisfaçao                  float64
n_quartos                     int64
distancia_centro            float64
distancia_metro             float64
atraçao_local_anuncio       float64
atraçao                     float64
restaurantes_localização    float64
atração_restaurantes        float64
longitude                   float64
latitude                    float64
dtype: object

## Colunas que serão dropadas do dataframe 

* quarto_compartilhado
* quarto_privado
* multi
* biz
* longitude
* latitude

Esses atributos não são necessários para a análise, é importante dropar esses atributos para uma análise mais clara.

In [12]:
# Removendo as colunas(atributos) que não serão utilizados na análise
df.drop(['quarto_compartilhado','quarto_privado','multi','biz','longitude','latitude'],axis=1,inplace = True)

In [13]:
df

,Unnamed: 0,preço_total,tipo_quarto,capacidade,superhost,nota_limpeza,satisfaçao,n_quartos,distancia_centro,distancia_metro,atraçao_local_anuncio,atraçao,restaurantes_localização,atração_restaurantes
0,0,194.033698,quarto privado,2.0,False,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473
1,1,344.245776,quarto privado,4.0,False,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928
2,2,264.101422,quarto privado,2.0,False,9.0,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700
3,3,433.529398,quarto privado,4.0,False,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565
4,4,485.552926,quarto privado,2.0,True,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1098,1098,2486.115342,Casa/apto inteiro,2.0,False,10.0,100.0,1,2.375833,1.436054,181.198355,9.594573,225.304203,15.699521
1099,1099,233.637194,quarto privado,2.0,False,10.0,90.0,1,4.719736,0.322263,108.024880,5.719989,134.775277,9.391335
1100,1100,317.062311,quarto privado,2.0,False,10.0,92.0,1,0.598355,0.751993,440.476515,23.323524,625.947562,43.616927
1101,1101,1812.855904,Casa/apto inteiro,4.0,False,8.0,84.0,5,1.943020,0.388532,257.948105,13.658524,336.589237,23.454022
1102,1102,258.008577,quarto compartilhado,2.0,False,8.0,90.0,1,0.280204,0.516217,533.962653,28.273677,807.492307,56.267226

In [14]:
# Criando um novo backup pra o dataframe apartir das coluna(atributos) que serão utilizados
dfbackup02 = df.copy()

In [15]:
df.head(10)

,Unnamed: 0,preço_total,tipo_quarto,capacidade,superhost,nota_limpeza,satisfaçao,n_quartos,distancia_centro,distancia_metro,atraçao_local_anuncio,atraçao,restaurantes_localização,atração_restaurantes
0,0,194.033698,quarto privado,2.0,False,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473
1,1,344.245776,quarto privado,4.0,False,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928
2,2,264.101422,quarto privado,2.0,False,9.0,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700
3,3,433.529398,quarto privado,4.0,False,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565
4,4,485.552926,quarto privado,2.0,True,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677
5,5,552.808567,quarto privado,3.0,False,8.0,100.0,2,2.131420,1.904668,174.788957,9.255191,225.201662,15.692376
6,6,215.124317,quarto privado,2.0,False,10.0,94.0,1,1.881092,0.729747,200.167652,10.599010,242.765524,16.916251
7,7,2771.307384,Casa/apto inteiro,4.0,True,10.0,100.0,3,1.686807,1.458404,208.808109,11.056528,272.313823,18.975219
8,8,1001.804420,Casa/apto inteiro,4.0,False,9.0,96.0,2,3.719141,1.196112,106.226456,5.624761,133.876202,9.328686
9,9,276.521454,quarto privado,2.0,False,10.0,88.0,1,3.142361,0.924404,206.252862,10.921226,238.291258,16.604478

In [16]:
# Observando se todos os atributos tem a mesma quantidade de resgistros (preparando o data frame para análise)
df.count()

Unnamed: 0                  1103
preço_total                 1103
tipo_quarto                 1103
capacidade                  1103
superhost                   1103
nota_limpeza                1103
satisfaçao                  1103
n_quartos                   1103
distancia_centro            1103
distancia_metro             1103
atraçao_local_anuncio       1103
atraçao                     1103
restaurantes_localização    1103
atração_restaurantes        1103
dtype: int64

In [17]:
# Verificação de valores unicos nas colunas que farão parte da análise
# Essa linha de código foi utilizada para observar coluna por coluna . Não foi encontrados dados unicos em uma coluna o que faria com que a coluna não fosse interessante para a análise
df['n_quartos'].unique()

array([1, 2, 3, 0, 5, 4], dtype=int64)

In [18]:
# Visualização de valores unicos para ver inconsistências. Utilizando  a função sorted() para ordenar os valores
# Visualização coluna por coluna pra encontrar inconsistências. Não foram encontradas inconsistências
sorted(pd.unique(df['atração_restaurantes']))

[3.545204720017045,
 3.5742558686210484,
 3.580741523076774,
 3.6093932835334464,
 3.6402776199564073,
 3.640415876858557,
 3.695634411752903,
 3.729029831417621,
 3.80895102312167,
 3.821171665476073,
 3.841975187138168,
 3.886737136423467,
 3.8937406343828167,
 3.917154151083281,
 3.9480179213533257,
 3.9504188072549207,
 4.118930977288363,
 4.140380419612353,
 4.235715128070345,
 4.272530560560858,
 4.291643350976307,
 4.305925939759352,
 4.339631905797865,
 4.3863641662056345,
 4.463214756031835,
 4.570184473559831,
 4.573501193218304,
 4.603619759849087,
 4.608795395138263,
 4.611438863654829,
 4.611441437686482,
 4.663274589647713,
 4.713187676566162,
 4.721144898384859,
 4.795326145401816,
 4.836811750976599,
 4.878336402939124,
 4.935321329836559,
 4.965894656494007,
 5.006311052003869,
 5.023844083408473,
 5.029975994352804,
 5.057885686658303,
 5.125490405341109,
 5.156631669283051,
 5.172190009831185,
 5.21023813767145,
 5.245818009827794,
 5.252449545665914,
 5.274958531811383,
 5.282719150397624,
 5.291665708489684,
 5.314420293056005,
 5.326992868586209,
 5.328302772784313,
 5.343726858848783,
 5.384245246289225,
 5.408289095041071,
 5.4097719838843865,
 5.42870775542424,
 5.44981085334476,
 5.4870625926160495,
 5.509399625496618,
 5.533290958933907,
 5.540726432311839,
 5.546210541203531,
 5.56098033134617,
 5.601624994298046,
 5.637113200801975,
 5.659484704532773,
 5.670972847069203,
 5.772877983934502,
 5.801810315294822,
 5.853131141032784,
 5.878389913896752,
 5.895192960258637,
 5.953962160474097,
 5.971010654447491,
 5.981520785223681,
 6.028888890904654,
 6.031611272523357,
 6.034307114161332,
 6.05330583037496,
 6.055174334918764,
 6.058590340116714,
 6.074890019423834,
 6.109751741117267,
 6.117649670331848,
 6.143697475928915,
 6.166368634254714,
 6.170692950485436,
 6.207535156323151,
 6.211828129926975,
 6.2193047631400935,
 6.254689516726156,
 6.2994429177341935,
 6.30636874079389,
 6.3344141662438975,
 6.348748049317552,
 6.361731490598535,
 6.364614111753854,
 6.368441132039729,
 6.434675728834916,
 6.450355588362909,
 6.461352465495376,
 6.563082616838778,
 6.583659169839651,
 6.602680407360599,
 6.63663047169287,
 6.641001205091608,
 6.646700254501156,
 6.670709564234994,
 6.757418327942287,
 6.800377233483629,
 6.8032095342178165,
 6.8062190471828,
 6.811813353003518,
 6.846472824200016,
 6.951359838353078,
 6.985768768462648,
 6.997549472326997,
 6.998036057412247,
 6.9980543805684485,
 7.00331860526853,
 7.00615306259042,
 7.0193816843611065,
 7.054863328341956,
 7.056468154179068,
 7.080774067960258,
 7.123856729530502,
 7.139834923701449,
 7.156353874756348,
 7.19738337214156,
 7.3263854471650225,
 7.363045533377294,
 7.380898764986614,
 7.411315102646661,
 7.416107727067701,
 7.449889798896363,
 7.532586549876169,
 7.572464195576309,
 7.601952990444291,
 7.7663371950834,
 7.808435529968112,
 7.809027859348667,
 7.860216237585779,
 7.873039365408313,
 7.959404490172303,
 7.969151743776913,
 7.9906732258432704,
 7.99973596762551,
 8.018220219811978,
 8.024298365094879,
 8.03231960857293,
 8.042530996565738,
 8.04996782682549,
 8.098177778837142,
 8.106924593319789,
 8.189372968830225,
 8.2056622529484,
 8.215483302408852,
 8.269573691369933,
 8.295539774987805,
 8.334719394799766,
 8.36452952713436,
 8.382727957102636,
 8.474876252079367,
 8.501060941898032,
 8.50988346453865,
 8.629654115249599,
 8.665515920770957,
 8.68067135610174,
 8.734865723413547,
 8.766275478000573,
 8.78561143312662,
 8.806522379571904,
 8.88406501460501,
 8.886607988353447,
 8.892834531180904,
 8.89717818948707,
 8.953549500178392,
 8.961140782391185,
 9.03711130812138,
 9.083825018673934,
 9.126345832326928,
 9.1837304923002,
 9.209091290979888,
 9.246666801941965,
 9.299853569947327,
 9.312911483009112,
 9.328686361865822,
 9.35738559342776,
 9.391335189570045,
 9.399348524306625,
 9.41804759234832,
 9.437101266340488,
 9.445093006964749,
 9.476606684701633,
 9.485609990225928,
 9.502582848871691,
 9.553205177607326,
 9.563487595418309,
 9.56614404784919,
 9.583125381998151,
 9.659835525141416,
 9.666566063134765,
 9.66847968896042,
 9.670859100364115,
 9.765022981068524,
 9.769888068933556,
 9.787861335225507,
 9.795673560180369,
 9.85120479756181,
 9.851718140700552,
 9.8746848207009,
 9.975102300491384,
 10.004132879612106,
 10.007579044943729,
 10.026739048279538,
 10.097687604019365,
 10.148005844312015,
 10.17350008586289,
 10.174960920899958,
 10.245484513342912,
 10.260750345646876,
 10.26699413777777,
 10.28741602350842,
 10.31414185279112,
 10.330045734500391,
 10.3364844994406,
 10.336606375141184,
 10.358415377727017,
 10.379214249330616,
 10.411481740921957,
 10.41261974634697,
 10.417105764026,
 10.46971130050115,
 10.473742412254326,
 10.477046937166383,
 10.532465281848683,
 10.5481248467903,
 10.554013688528546,
 10.555224197648831,
 10.569384309190506,
 10.574832339046274,
 10.614119300948683,
 10.641733513950962,
 10.646428159083737,
 10.659207706263135,
 10.713567556958882,
 10.747411809856672,
 10.789131554601031,
 10.798550149590625,
 10.829557617962218,
 10.831861886737132,
 10.83860084782539,
 10.846198476264638,
 10.872939184926864,
 10.875747554402624,
 10.890198183817288,
 10.90024731607378,
 10.912956937969836,
 10.944190692858882,
 10.966595754156184,
 11.083982314547743,
 11.084363101527591,
 11.094103429701116,
 11.096909395127708,
 11.131655566558877,
 11.140780012833629,
 11.17847965652281,
 11.201809774964095,
 11.213026629413417,
 11.21456528285666,
 11.275369167759198,
 11.382391698554072,
 11.399152696077504,
 11.41205594781663,
 11.413338750015328,
 11.455977561319465,
 11.475330521261936,
 11.477718922576956,
 11.48366697807625,
 11.503198886485183,
 11.511478243205325,
 11.535103914552392,
 11.585185960726474,
 11.615545496368624,
 11.653963320515096,
 11.663000237531834,
 11.671649642062793,
 11.682196690704426,
 11.7105044405608,
 11.714713713256018,
 11.771325942259775,
 11.866104317955156,
 11.892296217240483,
 11.893324074380248,
 11.909603752413412,
 11.914244524049163,
 11.930710490479894,
 11.954416664623835,
 11.979084660994127,
 12.018160975235958,
 12.020509639349482,
 12.023391256350614,
 12.091760620371252,
 12.09545094196811,
 12.099339232389909,
 12.11748363681578,
 12.146188426595762,
 12.156997425151966,
 12.182779078330878,
 12.20972391571636,
 12.270611583558331,
 12.305310100957154,
 12.32835988956555,
 12.346110363048144,
 12.346508708623876,
 12.361386696443653,
 12.368890081757392,
 12.3720664052523,
 12.435463790334008,
 12.466940357355446,
 12.488303601393383,
 12.49451536977634,
 12.504702427762243,
 12.507110457137973,
 12.530059995044128,
 12.54663178993208,
 12.577132057460394,
 12.603477785556278,
 12.61807059687761,
 12.62117168398775,
 12.621328997567588,
 12.621333089304889,
 12.621386862171388,
 12.627521920369592,
 12.648496720406992,
 12.67484096202237,
 12.735117975829793,
 12.760920503189435,
 12.763490446645054,
 12.828519330761484,
 12.839491325654029,
 12.841272298390402,
 12.845994839749414,
 12.846783246350826,
 12.859582716441292,
 12.941392831407844,
 12.968675598417494,
 12.973130045805696,
 12.995130608674538,
 13.005423062912008,
 13.02077084647354,
 13.02737940085906,
 13.044347360195555,
 13.069183081312838,
 13.08595218415482,
 13.099669373435487,
 13.10580047488308,
 13.140549275836738,
 13.172795975218149,
 13.179227565123098,
 13.18738701949546,
 13.19149091876942,
 13.195473751901588,
 13.197540005219029,
 13.262051435358794,
 13.309203682217602,
 13.338682245741229,
 13.340910457412273,
 13.364485144898792,
 13.364557041059284,
 13.38970366049007,
 13.433429106290523,
 13.448158638838628,
 13.453143298133709,
 13.45539082907713,
 13.461424852469053,
 13.491719248958322,
 13.506547990437625,
 13.508655118570188,
 13.557361450294868,
 13.59029844892699,
 13.59157130891185,
 13.689233063338746,
 13.720786938433982,
 13.763507698815314,
 13.792890812485217,
 13.812456456831637,
 13.829058543881295,
 13.838377786865916,
 13.85243209505009,
 13.857834885556043,
 13.86695524222659,
 13.877085207159706,
 13.885996283549568,
 13.898345790605113,
 13.922664549243391,
 13.930153434221676,
 13.9403068859741,
 13.947447142097172,
 13.972269815499711,
 13.99517948853862,
 14.005912207139284,
 14.02266466089872,
 14.031272433310912,
 14.03219935527252,
 14.214532456507758,
 14.253269452428352,
 14.262233653485309,
 14.272742231836505,
 14.360386844176707,
 14.36711153452666,
 14.415774079760013,
 14.421496580718255,
 14.45468522951558,
 14.57511133167701,
 14.619532702362113,
 14.641194388225816,
 14.65175530387267,
 14.655189903952673,
 14.677013300313677,
 14.68137691000068,
 14.732304133306506,
 14.739314294836594,
 14.7465103589862,
 14.767563668141994,
 14.787735175128972,
 14.82364541979155,
 14.842334263764872,
 14.85073517456781,
 14.89322953724274,
 14.896104785926582,
 14.940983387856328,
 14.941144387067828,
 14.956825469143192,
 14.981120682153598,
 15.004472112984446,
 15.006875368326122,
 15.013316368021016,
 15.016038733940148,
 15.039676388964365,
 15.067118872289395,
 15.087586099414027,
 15.0950553209125,
 15.127202348268428,
 15.131688951667623,
 15.147830665375968,
 15.151677404152316,
 15.188203595310185,
 15.35164352207761,
 15.384278077446297,
 15.384895365373737,
 15.422375516912163,
 15.43806395603659,
 15.449630041988124,
 15.496433509495947,
 15.554912451847326,
 15.579753527533846,
 15.583436559182918,
 15.615434137635024,
 15.654454304244243,
 15.675372728116487,
 15.68300077055363,
 15.69237583664536,
 15.69952100571606,
 15.706494974651063,
 15.725846714245062,
 15.731523502128242,
 15.744346893346394,
 15.76215755422517,
 15.76901672689135,
 15.806840348300971,
 15.838761775625215,
 15.881274203247475,
 15.891744961937883,
 15.90649143193,
 15.912242863705403,
 15.977772771214685,
 16.006329307210333,
 16.01316238555037,
 16.022991398650728,
 16.026656664443312,
 16.046189546356967,
 16.081335025644787,
 16.087972537321548,
 16.134952386943514,
 16.13687241983999,
 16.14281153119904,
 16.188639930364264,
 16.204148806831665,
 16.215506063251347,
 16.269105335056025,
 16.318874062383287,
 16.350336245479646,
 16.35998437263023,
 16.3942648782878,
 16.433081302762183,
 16.464649582658737,
 16.48303374548971,
 16.53736563336832,
 16.55676057544787,
 16.604477677123384,
 16.631622030140825,
 16.64022980344766,
 16.68306260729861,
 16.72210836021287,
 16.724775911341716,
 16.789164276020017,
 16.799135072928156,
 16.840686385512313,
 16.84744772283381,
 16.91625096043449,
 16.943702933970556,
 16.95431535129911,
 16.96210409525672,
 16.97707405226503,
 16.979652970818275,
 17.021641666263772,
 17.043990399188626,
 17.088616652381113,
 17.092605257477757,
 17.11104675272021,
 17.15005710401233,
 17.163650144115127,
 17.192709530100966,
 17.31002252330099,
 17.33537322482131,
 17.36864032273409,
 17.42289339893923,
 17.464086760934443,
 17.525529065782912,
 17.5405029536329,
 17.556753180635187,
 17.557787099841388,
 17.601654042590518,
 17.62628393408938,
 17.626717429780502,
 17.643855837258076,
 17.644680748064992,
 17.65638614672812,
 17.687338003638413,
 17.715941220526584,
 17.750053438552847,
 17.765943679113658,
 17.79513548744332,
 17.956722117181588,
 18.01838638374389,
 18.093890292783957,
 18.13508413934301,
 18.22643686945071,
 18.29185869712883,
 18.314998893486557,
 18.322383235036472,
 18.33934813268514,
 18.39316258570932,
 18.396701221288087,
 18.485782086007013,
 18.524060934685437,
 18.602004968747828,
 18.63187811955816,
 18.65885733707275,
 18.66557611317975,
 18.700378224851526,
 18.707517044728966,
 18.71659538039096,
 18.737628319095258,
 18.7878512269707,
 18.788934483849363,
 18.91024119797041,
 18.94143479441998,
 18.975218966216943,
 19.04569436538801,
 19.115708554422177,
 19.238681324059804,
 19.27270425776883,
 19.31169557768729,
 19.31793001686912,
 19.326905381007077,
 19.384615794816323,
 19.393979910753032,
 19.4311876096089,
 19.43539739034413,
 19.451863119187248,
 19.460676256329307,
 19.466731799900423,
 19.47362877237792,
 19.499204919002825,
 19.58333463879777,
 19.600725059655584,
 19.643280733626572,
 19.73520818821613,
 19.76289019223491,
 19.81627686204337,
 19.81987946202129,
 19.85685203334803,
 19.899020039730075,
 20.032369070945617,
 20.170372205466755,
 20.332049185009872,
 20.35597838724786,
 20.42770268672492,
 20.66476832913707,
 20.69051992825192,
 20.762285181927854,
 20.856351518597,
 20.878395391710765,
 20.88021589828808,
 20.891994063654693,
 20.90499733302476,
 20.914632150478283,
 21.14854937065894,
 21.162990800644486,
 21.204520339904647,
 21.231540969284247,
 21.241682291634447,
 21.244982248819543,
 21.513995564333975,
 21.516455652694194,
 21.585757671233345,
 21.64274650311764,
 21.643336532645545,
 21.711144174759774,
 21.793834510187526,
 21.843425571773462,
 21.87281464800265,
 21.88737046267162,
 21.892057202986734,
 21.90287191352255,
 21.917422584226976,
 21.946736619478983,
 22.050331478887657,
 22.050340226649613,
 22.07002072310663,
 22.113059798263183,
 22.131842999020947,
 22.22785427783516,
 22.41777324320497,
 22.52638408752558,
 22.541675618096203,
 22.697721614186925,
 22.699215430703696,
 22.881790682423784,
 22.9329132932061,
 23.01317176005573,
 23.036603276452915,
 23.057103846664106,
 23.06958226659628,
 23.12498099108049,
 23.17663429923748,
 23.226156752024632,
 23.227555473277985,
 23.24099381222216,
 23.37496969935316,
 23.385000125032025,
 23.44545353497781,
 23.454022262581173,
 23.51482356735457,
 23.540880261336376,
 23.56042520158124,
 23.5745024550824,
 23.627991051112385,
 23.691624332146905,
 23.71753552287479,
 23.75041873413521,
 23.772056170265916,
 23.844904091700208,
 23.926710397856684,
 24.036180905178988,
 24.19071747821556,
 24.21167147009316,
 24.264714255724144,
 24.273726274457747,
 24.365437802545262,
 24.37434271043721,
 24.44400697171336,
 24.44775813481329,
 24.452084591085303,
 24.510448476804463,
 24.54190570219364,
 24.56202881666771,
 24.595642242524438,
 24.65256974182153,
 24.698288244943463,
 24.71647644613146,
 24.78573588865645,
 24.7877850600039,
 24.81596330687063,
 24.827070234526385,
 24.828672682963656,
 24.924321624897853,
 25.007161936448856,
 25.01648867255165,
 25.01975924778625,
 25.2019550978765,
 25.27523526420125,
 25.291846330598933,
 25.386858547180157,
 25.42416656988969,
 25.43546422411979,
 25.535784038233174,
 25.61234985414248,
 25.653944232561187,
 25.783140078027184,
 25.83477635760828,
 25.835781122463487,
 25.88577023877193,
 25.99663307943871,
 26.20110878542524,
 26.20894103098712,
 26.21860391874421,
 26.22151943830356,
 26.293728641505517,
 26.30765268272797,
 26.367378498097043,
 26.3773422134668,
 26.38726220403681,
 26.50966327619917,
 26.57239496433964,
 26.61633040722077,
 26.62498754363656,
 26.646282727788417,
 26.68700678179518,
 26.728259416138435,
 26.806518467778183,
 26.867989381388107,
 26.883010191816364,
 26.90824305307548,
 27.096188344854845,
 27.116715578419136,
 27.239314200019194,
 27.370418768171028,
 27.441810867535608,
 27.490119046241784,
 27.49785634425971,
 27.555858700402148,
 27.59545282856356,
 27.617474142116777,
 27.622404876298116,
 27.628100810295987,
 27.684894557295063,
 27.728086186465045,
 27.84354461361285,
 27.881692562280925,
 28.018157756944785,
 28.021240866048096,
 28.05899944906716,
 28.24638779906484,
 28.376823594157973,
 28.41022128849228,
 28.5000489615356,
 28.52863833643286,
 28.63482892177524,
 28.639231345481324,
 28.77359737025201,
 28.78579026375781,
 28.84177403041656,
 28.865252633277134,
 28.89240436694586,
 29.00423986804076,
 29.026755064583813,
 29.08675518394797,
 29.20849170038691,
 29.35753296911674,
 29.35859046046475,
 29.389147329282405,
 29.499826917659423,
 29.51796195358536,
 29.579806994856867,
 29.60087042368196,
 29.6231918319869,
 29.623228741418767,
 29.631248219630173,
 29.72414274925484,
 30.02368605297499,
 30.05156996103319,
 30.051570648525637,
 30.118077323730923,
 30.17153200188195,
 30.20243056052857,
 30.211998951941357,
 30.21940906817266,
 30.23697407628825,
 30.256545099643983,
 30.28749799449116,
 30.354519786359056,
 30.37873274571709,
 30.407434352350045,
 30.52889763586304,
 30.64558867765217,
 30.656388128254143,
 30.661248082991627,
 30.801589124738022,
 30.85057533460733,
 30.851101469802312,
 30.855982349915408,
 30.8891876719806,
 31.015939497480616,
 31.036856569399,
 31.14584153915565,
 31.27803847760642,
 31.32875254235912,
 31.365856191324987,
 31.409746270402444,
 31.41815341203651,
 31.69558931172204,
 31.706063986359982,
 31.75942142250604,
 31.809865412328747,
 31.85240667297406,
 31.92228739621488,
 31.92334513668609,
 31.92951875210508,
 32.00376550693391,
 32.00447273211821,
 32.10061791542834,
 32.24018796649741,
 32.24898332294269,
 32.24997010571103,
 32.25492395347172,
 32.280230837457,
 32.28504133142393,
 32.444443669286855,
 32.59014988438688,
 32.68006632691268,
 32.721625213212555,
 32.74802571906014,
 32.80655735311206,
 32.87607968092739,
 32.964053715430296,
 33.02757759211289,
 33.09334596286779,
 33.110514911265305,
 33.122668080481795,
 33.17085200035806,
 33.21693222543855,
 33.3006176893318,
 33.326927236272546,
 33.337166886823645,
 33.35813622080968,
 33.39966965892707,
 33.45634693282699,
 33.487769614002346,
 33.74115773324301,
 33.85822501854926,
 33.89695694318266,
 33.968864513175625,
 34.049628406041336,
 34.2326670628606,
 34.289677237737834,
 34.48277056247837,
 34.55499992174082,
 34.55689346610138,
 34.61074727124712,
 34.66399683768462,
 34.68912715309922,
 34.730057315304194,
 34.73007005831696,
 35.025883262266554,
 35.031695685571016,
 35.225772235436715,
 35.23567732639665,
 35.4155793951794,
 35.606572456870815,
 35.693466628198834,
 35.77638370169351,
 35.90884148655948,
 36.163630132744856,
 36.20181759461219,
 36.218975581813815,
 36.2811626860345,
 36.33555613516994,
 36.40472853018829,
 36.60721893169556,
 36.83225824021007,
 36.91922086705395,
 37.04043044490737,
 37.08670511817772,
 37.48450553717169,
 37.6748698285264,
 37.67713891318575,
 37.72051906198847,
 37.79121896981839,
 37.834798640457045,
 38.03113549007978,
 38.103994071547206,
 38.129447199127526,
 38.25599658810408,
 38.30487024142359,
 38.33089078863929,
 38.385123865547904,
 38.5038039185403,
 38.5367341784017,
 38.67728733098736,
 38.68116138184085,
 38.80163766039789,
 38.89729254001181,
 39.12111284331787,
 39.156279381224735,
 39.313427198798735,
 39.481580898663154,
 39.53089024363967,
 39.55374863107486,
 39.80610170032983,
 39.83742520501865,
 39.95006423214768,
 39.98993881196633,
 40.00106933763895,
 40.11422499875786,
 40.16811003124383,
 40.2808960301237,
 40.54865337221812,
 40.65617592868278,
 40.67452305568951,
 40.77464051297216,
 41.15883659040559,
 41.63795285092885,
 41.63884869969803,
 41.69915323322249,
 41.75145389473009,
 41.7669046396246,
 41.96232565253728,
 42.03632874107688,
 42.06393034576259,
 42.18807050466473,
 42.18930701220963,
 42.29743204751827,
 42.44530230563754,
 42.60969200768658,
 43.04627573741005,
 43.08189969406571,
 43.25082870594581,
 43.298565439321926,
 43.32302350969331,
 43.6169267144573,
 43.76081098144154,
 43.80567390810422,
 43.85040350373258,
 44.4279206950767,
 44.57968619057894,
 44.73742187294326,
 44.790140023599896,
 44.898007085219554,
 45.02237896510665,
 45.31889611181751,
 45.63280874689824,
 45.647457575458255,
 45.77892219209823,
 45.87330297707064,
 45.983189601129325,
 46.19855425293785,
 46.27218588985111,
 46.32592889743325,
 46.44270363719397,
 46.62045872543278,
 46.65656005005732,
 47.04414158825819,
 47.0878085266148,
 47.144562256990206,
 47.168722710358,
 47.42380015354312,
 47.54678428409135,
 47.607360253749,
 47.68375680386615,
 47.68638155329887,
 47.7377830952266,
 47.94655229565285,
 48.00890840974629,
 48.07248605334025,
 48.30279063753035,
 48.40803619002057,
 48.4611178772018,
 48.524029168336746,
 48.54290277514046,
 48.5741114673731,
 48.57473498842768,
 48.59829437976948,
 48.73426609768304,
 48.84421213679196,
 48.86969849411063,

In [19]:
df.dtypes

Unnamed: 0                    int64
preço_total                 float64
tipo_quarto                  object
capacidade                  float64
superhost                      bool
nota_limpeza                float64
satisfaçao                  float64
n_quartos                     int64
distancia_centro            float64
distancia_metro             float64
atraçao_local_anuncio       float64
atraçao                     float64
restaurantes_localização    float64
atração_restaurantes        float64
dtype: object

In [20]:
# Guardando o dataframe tratado 
df_final = df.copy()
df_final.head()

,Unnamed: 0,preço_total,tipo_quarto,capacidade,superhost,nota_limpeza,satisfaçao,n_quartos,distancia_centro,distancia_metro,atraçao_local_anuncio,atraçao,restaurantes_localização,atração_restaurantes
0,0,194.033698,quarto privado,2.0,False,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473
1,1,344.245776,quarto privado,4.0,False,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928
2,2,264.101422,quarto privado,2.0,False,9.0,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700
3,3,433.529398,quarto privado,4.0,False,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565
4,4,485.552926,quarto privado,2.0,True,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677

In [21]:
# Carregando o dataframe tratado para o diretório processed
pasta = 'C:\\Cursos e documentos\\Bootcamp\\Projeto - 01\\data\\processed'
arquivo_csv = os.path.join(pasta, 'arquivo_final.csv')

if not os.path.exists(pasta):
    try:
        os.makedirs(pasta, exist_ok=True)
    except OSError as e:
        print(f"Erro ao criar o diretório: {e}")
        raise

try:
    df_final.to_csv(arquivo_csv, index=False)
    print(f'Arquivo CSV salvo em {arquivo_csv}')
except PermissionError as e:
    print(f"Permissão negada ao tentar salvar o arquivo CSV: {e}")

Arquivo CSV salvo em C:\Cursos e documentos\Bootcamp\Projeto - 01\data\processed\arquivo_final.csv

### Análises

In [22]:
'''
Fazendo algumas relações com o tipo de quarto e o seu preço , podemos observar que há uma diferença de valor muito grande entre
o quarto de índice "0" e índice "4" que são igualmente quartos privados revelando então que existe outro fator para diferença de valor.
'''

df_final.loc[[0,4,100], ['preço_total', 'tipo_quarto']]

     preço_total        tipo_quarto
0     194.033698     quarto privado
4     485.552926     quarto privado
100   539.216835  Casa/apto inteiro

In [23]:
'''
Podemos observa no mesmo tipo de análise para os mesmos índices selecionados que um fator importante para a diferença de valor
pode ser a distância para o centro da cidade , no índice "0" a distância pra o centro é de 5 km já no índice "4" é de 0.5 km
e seu valor é maior mesmo sendo também um quarto privado.
'''
df_final.loc[[0,4,100], ['preço_total', 'tipo_quarto','nota_limpeza','distancia_centro']]

     preço_total        tipo_quarto  nota_limpeza  distancia_centro
0     194.033698     quarto privado          10.0          5.022964
4     485.552926     quarto privado          10.0          0.544738
100   539.216835  Casa/apto inteiro          10.0          3.781331

In [24]:
'''
Como podemos observar outros pontos importantes para a análise são a distância para o metro e os índices de de atrações,
localização do local e restaurantes.
'''
df_final.loc[[0,4,100], ['preço_total','distancia_centro','distancia_metro','atraçao','atração_restaurantes','restaurantes_localização','atraçao_local_anuncio']]

,preço_total,distancia_centro,distancia_metro,atraçao,atração_restaurantes,restaurantes_localização,atraçao_local_anuncio
0,194.033698,5.022964,2.539380,4.166708,6.846473,98.253896,78.690379
4,485.552926,0.544738,0.318693,29.272733,56.811677,815.305740,552.830324
100,539.216835,3.781331,0.920214,7.315317,12.099339,173.637908,138.153442

In [25]:
'''
Para concretizar a análise dos fatores determinantes para a diferença de preço entre
tipos de quartos iguais resolvi analisar os 10 primeiros registros.
'''
df_final.loc[[0,1,2,3,4,5,6,7,8,9,10], ['preço_total','tipo_quarto','distancia_centro','distancia_metro']]

    preço_total        tipo_quarto  distancia_centro  distancia_metro
0    194.033698     quarto privado          5.022964         2.539380
1    344.245776     quarto privado          0.488389         0.239404
2    264.101422     quarto privado          5.748312         3.651621
3    433.529398     quarto privado          0.384862         0.439876
4    485.552926     quarto privado          0.544738         0.318693
5    552.808567     quarto privado          2.131420         1.904668
6    215.124317     quarto privado          1.881092         0.729747
7   2771.307384  Casa/apto inteiro          1.686807         1.458404
8   1001.804420  Casa/apto inteiro          3.719141         1.196112
9    276.521454     quarto privado          3.142361         0.924404
10   909.474375  Casa/apto inteiro          1.009922         0.917115

In [26]:
'''
Aprofundando a análise para achar o fator determinante para o preço, um candidato forte
 para esse fator é atração do local no anúncio além dos outros já informados.
'''

df_final.loc[[0,1,2,3,4,5,6,7,8,9,10], ['preço_total','tipo_quarto','capacidade','distancia_centro','distancia_metro','atraçao_local_anuncio','atração_restaurantes']]

,preço_total,tipo_quarto,capacidade,distancia_centro,distancia_metro,atraçao_local_anuncio,atração_restaurantes
0,194.033698,quarto privado,2.0,5.022964,2.539380,78.690379,6.846473
1,344.245776,quarto privado,4.0,0.488389,0.239404,631.176378,58.342928
2,264.101422,quarto privado,2.0,5.748312,3.651621,75.275877,6.646700
3,433.529398,quarto privado,4.0,0.384862,0.439876,493.272534,60.973565
4,485.552926,quarto privado,2.0,0.544738,0.318693,552.830324,56.811677
5,552.808567,quarto privado,3.0,2.131420,1.904668,174.788957,15.692376
6,215.124317,quarto privado,2.0,1.881092,0.729747,200.167652,16.916251
7,2771.307384,Casa/apto inteiro,4.0,1.686807,1.458404,208.808109,18.975219
8,1001.804420,Casa/apto inteiro,4.0,3.719141,1.196112,106.226456,9.328686
9,276.521454,quarto privado,2.0,3.142361,0.924404,206.252862,16.604478
10,909.474375,Casa/apto inteiro,2.0,1.009922,0.917115,409.858124,38.681161

In [27]:
# Resumo estatístico
df_final.describe()

,Unnamed: 0,preço_total,capacidade,nota_limpeza,satisfaçao,n_quartos,distancia_centro,distancia_metro,atraçao_local_anuncio,atraçao,restaurantes_localização,atração_restaurantes
count,1103.000000,1103.000000,1103.000000,1103.000000,1103.000000,1103.000000,1103.000000,1103.000000,1103.000000,1103.000000,1103.000000,1103.000000
mean,551.000000,545.020526,2.792384,9.461469,94.362647,1.282865,2.841621,1.089439,271.009899,14.350154,341.541187,23.799081
std,318.552978,416.974314,1.044151,0.798201,6.089691,0.740178,2.123245,0.836546,197.046890,10.433764,236.611077,16.487400
min,0.000000,128.887118,2.000000,4.000000,20.000000,0.000000,0.015059,0.036530,40.931415,2.167346,50.877318,3.545205
25%,275.500000,309.797764,2.000000,9.000000,92.000000,1.000000,1.302058,0.462983,127.909866,6.772912,163.469245,11.390772
50%,551.000000,430.248635,2.000000,10.000000,96.000000,1.000000,2.341366,0.856010,208.180311,11.023286,260.257028,18.135084
75%,826.500000,657.324303,4.000000,10.000000,98.000000,2.000000,3.648138,1.510629,386.442241,20.462373,469.290623,32.700846
max,1102.000000,7782.907225,6.000000,10.000000,100.000000,5.000000,11.187100,4.411915,1888.550428,100.000000,1435.102401,100.000000

### Filtros

In [28]:
df.dtypes

Unnamed: 0                    int64
preço_total                 float64
tipo_quarto                  object
capacidade                  float64
superhost                      bool
nota_limpeza                float64
satisfaçao                  float64
n_quartos                     int64
distancia_centro            float64
distancia_metro             float64
atraçao_local_anuncio       float64
atraçao                     float64
restaurantes_localização    float64
atração_restaurantes        float64
dtype: object

In [29]:
# Filtro criado para encontrar os registros com atração do local no anúncio maior que 150

ft_atraçao_local_anuncio = (df_final['atraçao_local_anuncio'] >= 150)
df_final.loc[ft_atraçao_local_anuncio].head(10)

,Unnamed: 0,preço_total,tipo_quarto,capacidade,superhost,nota_limpeza,satisfaçao,n_quartos,distancia_centro,distancia_metro,atraçao_local_anuncio,atraçao,restaurantes_localização,atração_restaurantes
1,1,344.245776,quarto privado,4.0,False,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928
3,3,433.529398,quarto privado,4.0,False,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565
4,4,485.552926,quarto privado,2.0,True,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677
5,5,552.808567,quarto privado,3.0,False,8.0,100.0,2,2.131420,1.904668,174.788957,9.255191,225.201662,15.692376
6,6,215.124317,quarto privado,2.0,False,10.0,94.0,1,1.881092,0.729747,200.167652,10.599010,242.765524,16.916251
7,7,2771.307384,Casa/apto inteiro,4.0,True,10.0,100.0,3,1.686807,1.458404,208.808109,11.056528,272.313823,18.975219
9,9,276.521454,quarto privado,2.0,False,10.0,88.0,1,3.142361,0.924404,206.252862,10.921226,238.291258,16.604478
10,10,909.474375,Casa/apto inteiro,2.0,False,10.0,96.0,1,1.009922,0.917115,409.858124,21.702260,555.114276,38.681161
11,11,319.640053,quarto privado,2.0,True,10.0,97.0,1,2.182707,1.590381,191.501339,10.140123,229.297401,15.977773
12,12,675.602840,Casa/apto inteiro,4.0,False,8.0,87.0,1,2.933046,0.628073,214.923342,11.380334,269.624904,18.787851

In [30]:
# Filtro para menos de 50% de satisfação

'''
Apenas dois registros foram encontrados com nota de satisfação abaixo de 50 e
ambos aparecem com a nota de limpeza abaixo de sete o que pode ser um forte
indicativo de que a satisfação está atrelada a limpeza do ambiente.
'''

ft_baixa_satisfacao = (df_final['satisfaçao'] <= 50)
df_final.loc[ft_baixa_satisfacao]

,Unnamed: 0,preço_total,tipo_quarto,capacidade,superhost,nota_limpeza,satisfaçao,n_quartos,distancia_centro,distancia_metro,atraçao_local_anuncio,atraçao,restaurantes_localização,atração_restaurantes
627,627,528.437185,quarto privado,2.0,False,4.0,47.0,1,3.809663,0.417682,122.940435,6.509778,152.970546,10.659208
901,901,233.637194,quarto privado,2.0,False,6.0,20.0,1,8.145037,0.688409,57.893170,3.065482,74.226223,5.172190

In [31]:
# Sobre tentar entender a diferença de valor entre os mesmos tipos de quartos optei por observar apenas os quartos 'quarto privado' para observar qual atributo tem maior relevância na diferença # de valor, alguns atributos podem ser usados para essa análise mais profunda: capacidade, satisfação, n_quartos, distancia_centro, distancia_metro.
df_final[df_final['tipo_quarto'] == 'quarto privado'].head(20)

,Unnamed: 0,preço_total,tipo_quarto,capacidade,superhost,nota_limpeza,satisfaçao,n_quartos,distancia_centro,distancia_metro,atraçao_local_anuncio,atraçao,restaurantes_localização,atração_restaurantes
0,0,194.033698,quarto privado,2.0,False,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473
1,1,344.245776,quarto privado,4.0,False,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928
2,2,264.101422,quarto privado,2.0,False,9.0,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700
3,3,433.529398,quarto privado,4.0,False,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565
4,4,485.552926,quarto privado,2.0,True,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677
5,5,552.808567,quarto privado,3.0,False,8.0,100.0,2,2.131420,1.904668,174.788957,9.255191,225.201662,15.692376
6,6,215.124317,quarto privado,2.0,False,10.0,94.0,1,1.881092,0.729747,200.167652,10.599010,242.765524,16.916251
9,9,276.521454,quarto privado,2.0,False,10.0,88.0,1,3.142361,0.924404,206.252862,10.921226,238.291258,16.604478
11,11,319.640053,quarto privado,2.0,True,10.0,97.0,1,2.182707,1.590381,191.501339,10.140123,229.297401,15.977773
14,14,209.031472,quarto privado,2.0,False,8.0,96.0,1,7.304535,3.720814,59.776181,3.165188,75.701057,5.274959
15,15,368.851499,quarto privado,2.0,True,10.0,98.0,1,1.031101,0.557885,359.921932,19.058105,439.950562,30.656388
16,16,368.851499,quarto privado,2.0,False,10.0,90.0,1,1.327797,0.119528,539.012884,28.541090,573.896572,39.989939
17,17,337.918590,quarto privado,2.0,True,10.0,97.0,1,1.366334,0.534933,576.082826,30.503968,845.957616,58.947544
18,18,313.547208,quarto privado,2.0,True,10.0,96.0,1,1.289759,0.552116,528.940556,28.007754,1023.904785,71.347159
20,20,243.245143,quarto privado,2.0,True,10.0,96.0,1,2.870633,1.278894,169.695755,8.985503,210.267692,14.651755
22,22,251.915731,quarto privado,2.0,False,10.0,97.0,1,1.247084,1.098774,267.325990,14.155089,366.464650,25.535784
23,23,377.287746,quarto privado,2.0,False,10.0,98.0,1,1.167492,0.983743,278.800595,14.762677,383.577893,26.728259
24,24,245.588545,quarto privado,2.0,True,10.0,96.0,1,4.230634,2.687144,92.213602,4.882772,116.217144,8.098178
25,25,217.702060,quarto privado,2.0,False,8.0,93.0,1,4.180815,2.808438,93.270764,4.938749,117.759656,8.205662
26,26,295.034331,quarto privado,2.0,False,10.0,95.0,1,3.366019,0.225882,170.028697,9.003133,217.155231,15.131689

In [32]:
# usando o sample para visualizar diferentes registros para comparar os valores 
df_final[df_final['tipo_quarto'] == 'quarto privado'].sample(20)

,Unnamed: 0,preço_total,tipo_quarto,capacidade,superhost,nota_limpeza,satisfaçao,n_quartos,distancia_centro,distancia_metro,atraçao_local_anuncio,atraçao,restaurantes_localização,atração_restaurantes
901,901,233.637194,quarto privado,2.0,False,6.0,20.0,1,8.145037,0.688409,57.893170,3.065482,74.226223,5.172190
1015,1015,475.476296,quarto privado,2.0,True,10.0,96.0,1,0.506577,0.300080,504.617830,26.719849,728.265631,50.746597
623,623,245.822886,quarto privado,2.0,False,10.0,98.0,1,2.577068,0.441157,250.073728,13.241570,336.466267,23.445454
255,255,407.986315,quarto privado,2.0,False,9.0,82.0,0,1.731690,0.106835,269.841142,14.288268,330.262580,23.013172
540,540,583.975816,quarto privado,2.0,False,10.0,100.0,1,2.151923,1.643271,180.227974,9.543191,236.548413,16.483034
5,5,552.808567,quarto privado,3.0,False,8.0,100.0,2,2.131420,1.904668,174.788957,9.255191,225.201662,15.692376
1064,1064,264.101422,quarto privado,2.0,True,10.0,99.0,1,5.272024,0.739289,99.657641,5.276938,125.354268,8.734866
293,293,274.178052,quarto privado,2.0,True,10.0,96.0,1,3.169262,0.641953,137.629109,7.287553,175.222041,12.209724
108,108,291.050547,quarto privado,2.0,False,9.0,90.0,1,0.653967,0.351083,400.547489,21.209256,659.905858,45.983190
840,840,245.822886,quarto privado,2.0,False,10.0,94.0,1,9.824616,0.456492,47.312844,2.505247,59.110877,4.118931
267,267,314.484569,quarto privado,2.0,False,9.0,91.0,1,2.123122,0.233702,233.970371,12.388887,308.747867,21.513996
335,335,264.335763,quarto privado,2.0,False,10.0,97.0,1,3.548926,2.437160,117.081398,6.199538,145.634276,10.148006
392,392,233.637194,quarto privado,2.0,True,9.0,97.0,1,4.091074,0.263419,121.970514,6.458420,155.448310,10.831862
856,856,234.574555,quarto privado,2.0,False,10.0,97.0,1,5.915423,1.334219,81.758651,4.329175,101.244513,7.054863
858,858,264.335763,quarto privado,2.0,True,10.0,80.0,1,4.199350,3.033296,92.990550,4.923911,117.525888,8.189373
967,967,228.716050,quarto privado,2.0,False,9.0,92.0,1,4.677773,0.776577,101.972711,5.399523,126.382614,8.806522
746,746,420.406346,quarto privado,2.0,False,9.0,96.0,1,1.992342,1.859795,189.067803,10.011266,246.315955,17.163650
446,446,241.136081,quarto privado,2.0,False,10.0,92.0,0,8.232047,3.403507,53.558589,2.835963,66.922766,4.663275
907,907,209.031472,quarto privado,2.0,False,6.0,60.0,1,8.069508,0.433365,59.104439,3.129619,77.614487,5.408289
860,860,274.178052,quarto privado,2.0,True,10.0,100.0,1,2.416838,0.252065,284.309671,15.054386,413.908992,28.841774

In [33]:
# Apenas dois registros que tiveram a nota de limpeza menor que sete tiveram a satisfação menor que cinquenta, o que não torna a nota de limpeza um forte indicativo, vamos partir para os gráficos para encontrar o que de fato torna essa diferença de preço em quartos do mesmo tipo.
df_final[df_final['nota_limpeza'] < 7].head(20)

,Unnamed: 0,preço_total,tipo_quarto,capacidade,superhost,nota_limpeza,satisfaçao,n_quartos,distancia_centro,distancia_metro,atraçao_local_anuncio,atraçao,restaurantes_localização,atração_restaurantes
64,64,347.995219,Casa/apto inteiro,3.0,False,6.0,77.0,2,4.416817,0.446809,117.231069,6.207463,148.952353,10.379214
71,71,374.944344,quarto privado,4.0,False,6.0,88.0,1,0.944521,0.727107,320.239939,16.956918,458.132692,31.923345
239,239,303.470579,quarto privado,4.0,False,5.0,80.0,0,3.875694,0.533551,110.863573,5.870300,140.465833,9.787861
544,544,276.287114,quarto privado,2.0,False,6.0,70.0,1,2.432694,0.728726,343.814017,18.205181,335.454751,23.374970
626,626,651.231458,Casa/apto inteiro,4.0,False,6.0,65.0,2,1.768897,1.585159,202.001797,10.696129,262.838989,18.314999
627,627,528.437185,quarto privado,2.0,False,4.0,47.0,1,3.809663,0.417682,122.940435,6.509778,152.970546,10.659208
653,653,375.881705,Casa/apto inteiro,2.0,False,6.0,80.0,1,1.763043,1.895295,215.614725,11.416943,278.917855,19.435397
743,743,640.451808,Casa/apto inteiro,2.0,False,6.0,80.0,1,1.908980,0.293735,495.386305,26.231034,578.072106,40.280896
823,823,303.001898,quarto privado,2.0,False,4.0,80.0,1,2.123892,0.415379,313.756885,16.613636,378.684233,26.387262
853,853,566.634640,Casa/apto inteiro,4.0,False,6.0,60.0,2,1.871276,1.933709,207.072639,10.964634,263.188425,18.339348
901,901,233.637194,quarto privado,2.0,False,6.0,20.0,1,8.145037,0.688409,57.893170,3.065482,74.226223,5.172190
907,907,209.031472,quarto privado,2.0,False,6.0,60.0,1,8.069508,0.433365,59.104439,3.129619,77.614487,5.408289